nav{
    display: flex;
}
.nav-title {
font-size: 40px;
color: black;
font-weight: 800;
}
h3{
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: black;
    border: none;
}
body{
    font-family: sans-serif;
}